[submodule "sourcemod"]
	path = sourcemod
	url = https://github.com/alliedmodders/sourcemod
[submodule "hl2sdk-csgo"]
	path = hl2sdk-csgo
	url = https://github.com/alliedmodders/hl2sdk
	branch = csgo
[submodule "metamod-source"]
	path = metamod-source
	url = https://github.com/alliedmodders/metamod-source
[submodule "hydb"]
	path = hydb
	url = https://github.com/MoeMod/hydb
[submodule "extern/xorstr"]
	path = extern/xorstr
	url = https://github.com/JustasMasiulis/xorstr
[submodule "extern/mysql-asio"]
	path = extern/mysql-asio
	url = https://github.com/anarthal/mysql-asio
[submodule "smcppsdk"]
	path = smcppsdk
	url = https://github.com/MoeMod/smcppsdk
[submodule "smsdk_ext-cmake"]
	path = smsdk_ext-cmake
	url = https://github.com/MoeMod/smsdk_ext-cmake
